div#com-fortnight-status-bar {
  background: linear-gradient(180deg, hsl(0, 0%, 92%) 0, hsl(0, 0%, 86%) 1px, hsl(0, 0%, 85%)) !important;
  border: solid 1px hsl(0, 0%, 52%) !important;
  border-left-width: 0 !important;
  border-radius: 0 3px 0 0 !important;
  bottom: -1px !important;
  color: hsl(300, 2%, 10%) !important;
  font: 8pt Helvetica Neue !important;
  height: auto !important;
  left: 0 !important;
  letter-spacing: 0.36px !important;
  margin: 0 !important;
  max-width: 95% !important;
  opacity: 0 !important;
  overflow: hidden !important;
  padding: 0.20em 12px 0.25em !important;
  pointer-events: none !important;
  position: fixed !important;
  text-overflow: ellipsis !important;
  text-rendering: optimizeLegibility !important;
  transition: 50ms 100ms opacity ease-out !important;
  white-space: nowrap !important;
  width: auto !important;
  z-index: 2147483647 !important;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  div#com-fortnight-status-bar {
    -webkit-backdrop-filter: blur(10px) !important;
    backdrop-filter: blur(10px) !important;
    background: linear-gradient(180deg, hsla(0, 0%, 92%, .5) 0, hsla(0, 0%, 86%, .5) 1px, hsla(0, 0%, 85%, .5)) !important;
  }
}

div#com-fortnight-status-bar.active {
  opacity: 1 !important;
  transition: 100ms opacity ease-in !important;
}

div#com-fortnight-status-bar.blur {
  background: linear-gradient(180deg, hsl(0, 0%, 98%) 0, hsl(0, 0%, 96%) 1px, hsl(0, 0%, 96%)) !important;
  border-color: hsl(0, 0%, 72%) !important;
}

div#com-fortnight-status-bar.right-side {
  border-radius: 3px 0 0 0 !important;
  border-width: 1px 0 1px 1px !important;
  left: auto !important;
  right: 0 !important;
}

div#com-fortnight-status-bar a {
  color: black !important;
  text-decoration: none !important;
}
