div#com-fortnight-status-bar {
  position: fixed !important;
  left: 0;
  bottom: -1px;
  z-index: 2147483647 !important;
  width: auto !important;
  background: linear-gradient(180deg, hsl(0, 0%, 92%) 0, hsl(0, 0%, 86%) 1px, hsl(0, 0%, 85%)) !important;
  color: hsl(0, 0%, 0%) !important;
  text-shadow: 0 1px 0 hsl(0, 0%, 92%) !important;
  margin: 0 !important;
  padding: 0.20em 12px 0.25em !important;
  font: 8pt Helvetica Neue !important;
  border: solid 1px hsl(0, 0%, 52%) !important;
  border-left-width: 0 !important;
  border-top-right-radius: 3px !important;
  text-rendering: optimizeLegibility;
  overflow: hidden;
  white-space: nowrap;
  pointer-events: none;
  opacity: 0;
  transition: opacity 100ms ease-out;
}

div#com-fortnight-status-bar.active {
  opacity: 1;
  transition: opacity 100ms ease-in;
}

div#com-fortnight-status-bar.right-side {
  left: auto;
  right: 0;
  border-radius: 3px 0 0 0 !important;
  border-width: 1px 0 1px 1px !important;
}
